<section>
  <form>
    <input
      type="text"
      placeholder="Filter by city"
      #filter
    />
    <button
      (click)="filterResults(filter.value)"
      class="primary"
      type="button"
    >
      Search
    </button>
  </form>
</section>
<section>
  <p>RxJs</p>
  <app-test-rxjs></app-test-rxjs>
</section>
@if (serverError) {
  <div style="padding: 50px">
    at start <strong>npm run json-server</strong> pls, and reload page
  </div>
} @else {
  <section class="results">
    @for (housingLocation of filteredLocationList; track $index) {
      <app-housing-location [housingLocation]="housingLocation" />
    }
  </section>
}
